<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Information about customer: </h1>
<table border="1">
    <tr>
        <td>First name:</td>
        <td>{{ customer.first_name }}</td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>{{ customer.last_name }}</td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>{{ customer.address }}</td>
    </tr>
    <tr>
        <td>Approved:</td>
        <td>{{ customer.is_approved }}</td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>{{ customer.email }}</td>
    </tr>
</table>
</body>
</html>

